.App {
  font-family: sans-serif;
  text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}
.HomeBack{
  background: url(../public/Images/Indus.jpg);
  background-repeat: no-repeat;
  height: 39em;
  background-position: center;
  background-size: cover;
}
.HomeHeading{
  color: white;
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width: 480px) {
 .HomeHeading {
  font-size: 1.5rem;
  }
  .HomeBack{
    height: 30em;
   
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
